# ==============================================
# Policy File of /vendor/bin/wmt_launcher Executable File 


# ==============================================
# Type Declaration
# ==============================================

type wmt_launcher_exec, exec_type, file_type;
type wmt_launcher, domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

allow wmt_launcher wmt_prop:property_service set;
allow wmt_launcher init:unix_stream_socket connectto;
allow wmt_launcher property_socket:sock_file write;
allow wmt_launcher stpwmt_device:chr_file { read write ioctl open };
allow wmt_launcher devpts:chr_file { read write };
init_daemon_domain(wmt_launcher)

#allow wmt_launcher vendor_file:file { entrypoint };

allow wmt_launcher stpwmt_device:chr_file rw_file_perms;
set_prop(wmt_launcher, wmt_prop)
