service ril-daemon-mtk /vendor/bin/hw/rild
    class main
    user radio
    group radio cache inet misc audio log readproc wakelock system
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

on property:ril.mtk=1
    start ril-daemon-mtk
