service ril-daemon-mtk /vendor/bin/hw/rild
    interface android.hardware.radio@1.0::IRadio slot1
    interface android.hardware.radio@1.0::IRadio slot2
    class main
    user radio
    group radio cache inet misc audio sdcard_r sdcard_rw log readproc wakelock system
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
    disabled
    oneshot

service ril-daemon /vendor/bin/hw/rild
    interface android.hardware.radio@1.0::IRadio slot1
    interface android.hardware.radio@1.0::IRadio slot2
    class main
    user radio
    group radio cache inet misc audio log sdcard_r sdcard_rw readproc wakelock system
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
    disabled
    oneshot

on property:ril.mtk=1
    start ril-daemon-mtk

on property:persist.radio.airplane_mode_on=1
#    restart ril-daemon-mtk
    exec u:r:init:s0 root root -- /system/bin/reset-modem.sh
