on init
    # LiveDisplay mediatek
    chown system system /sys/devices/platform/mtk_disp_mgr.0/rgb
    chmod 0660 /sys/devices/platform/mtk_disp_mgr.0/rgb

service livedisplay-hal-2-0-mediatek /system/bin/hw/lineage.livedisplay@2.0-service-mediatek
    class hal
    user system
    group system
